<p>Estimado  cliente {{invoice.clientName}},
    Su factura número {{invoice.codeInvoiceExternal}} realizada en la empresa : {{invoice.companyBusinessName()}}  ha sido aprobada éxitosamente.</p>
<br>
Fecha de la factura {{invoice.createAtReal|date('d/m/Y')}}.