<p>Estimado  cliente {{creditNote.clientName}},
    Su nota de crédito, número {{creditNote.codeCreditNoteExternal}} realizada en la empresa : {{creditNote.companyBusinessName()}}  ha sido aprobada éxitosamente.</p>
<br>
Fecha de la factura {{creditNote.createAtReal|date('d/m/Y')}}.