<p>Estimado  {{retention.providerName}},
    Su retención número {{retention.codeRetentionExternal}} realizada en la empresa : {{retention.companyBusinessName()}}  ha sido aprobada éxitosamente.</p>
<br>
Fecha de la factura {{retention.createAtReal|date('d/m/Y')}}.